<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
</head>
<body>
    <form id = join-room-form>
        <input type="text" class="room-id-input" placeholder="Enter room Id"> 
        <button type="submit" class="join-room-btn">Join</button>
        <br> <pre> OR </pre><br>
        <button type="button" class="create-room-btn">Create</button>
    </form>

<script src="./script.js"></script>
</body>
</html>